body {
    margin: auto;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#modal {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #FE6B9B 30%, #FF8E53 90%);
    border-radius: 4px;
    padding: 20px 40px;
}

#modal i {
    position: absolute;
    right: 10px;
    top: 0px;
}

#modal i:hover {
    color: #513bdb;
}

.centerControl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    height: 80%;
    background: #fff;
    border-radius: 4px;
    padding-bottom: 30px;
}

span {
    padding: 10px;
}

i {
    padding: 10px;
}

h1 {
    padding: 20px;
}

.hintHead {
    color: white;
}

.hintBody {
    color: white;
    padding: 0px;
}

.currentWord {
    padding: 20px 20px 5px 20px;
}

.numGuesses {
    padding: 15px;
    border: 2px solid #666;
    border-radius: 4px;
}

.letGuesses {
    padding: 20px 20px 5px 20px;
    letter-spacing: 1.5em;
    word-wrap: break-word;
}

.numWins {
    padding: 15px;
    border: 2px solid #666;
    border-radius: 4px;
}

